# Lição 1 Exercício 2: Criando Tabela com Apache Cassandra

### Percorra o básico do Apache Cassandra. Conclua as seguintes tarefas:<li> Crie uma tabela no Apache Cassandra, <li> Inserir linhas de dados,<li> Execute uma consulta SQL simples para validar as informações. <br>

#### Importar pacote python do Apache Cassandra

In [2]:
import cassandra

### Create a connection to the database

In [3]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #com a instancia do Cassandra Local ativado
    session = cluster.connect()
except Exception as e:
    print(e)

### Criar um keyspace

In [4]:
## Criar Keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

### Conectar-se ao Keyspace

In [5]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Crie uma Biblioteca de músicas que contenha uma lista de músicas, incluindo o nome da música, o nome do artista, o ano, o álbum de onde foi e se foi um single. 

`song_title
artist_name
year
album_name
single`

### Você precisa criar uma tabela para poder executar a seguinte consulta:
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [6]:
## Criando uma tabela
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(year int, artist_name text, song_title text, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

### Insira as duas linhas a seguir em sua tabela
`Primeira Linha:  "Across The Universe", "The Beatles", "1970", "False", "Let It Be"`

`Segunda Linha: "The Beatles", "Think For Yourself", "False", "1965", "Rubber Soul"`

In [7]:
## Inserindo Dados
query = "INSERT INTO songs (album_name, artist_name, year, single, song_title)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, ("Across The Universe", "The Beatles", 1970, False, "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, ("The Beatles", "Think For Yourself", 1965, False, "Rubber Soul"))
except Exception as e:
    print(e)

### Valide se seus dados foram inseridos na tabela.

In [8]:
query = 'SELECT * FROM songs'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1965 The Beatles Think For Yourself
1970 Across The Universe The Beatles

### Validar o modelo de dados com a consulta original.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [9]:
query = "select * from songs WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Across The Universe The Beatles

### E finalmente feche a sessão e a conexão do cluster

In [10]:
session.shutdown()
cluster.shutdown()